<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthenticationSoap" receiveTimeout="00:10:00" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
                <binding name="MessagerSoap" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="64000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.10.10.155:90/services/authentication.asmx" binding="basicHttpBinding" bindingConfiguration="AuthenticationSoap" contract="Auth.AuthenticationSoap" name="AuthenticationSoap" />
            <endpoint address="http://10.10.10.155:90/services/messager.asmx" binding="basicHttpBinding" bindingConfiguration="MessagerSoap" contract="Messager.MessagerSoap" name="MessagerSoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
